:root {
    --azul-claro: #E2E8F0;
}

input[type="radio"]{
    accent-color: var(--azul-titulo);
}

label {
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    border: 3px solid;
    padding: 10px;
    border-radius: 20px;
}

.Perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Perguntas h2 {
    font-size: 30px;
    font-family: Impact;
    color: var(--azul-titulo);
}

.Pergunta1 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    margin: 50px;
}

.Pergunta2 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    margin: 50px;
}

.Pergunta3 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    margin: 50px;
}

.Pergunta10 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    margin: 50px;
}

.Pergunta10 input[type="date"]{
    width: 35%;
    height: 50px;
    border-radius: 10px;
}

.Pergunta5 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    margin: 50px;
}

.Pergunta5 img {
    width: 50%;
    height: 20%;
    margin-top: 20px;
}

.Pergunta6 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    margin: 50px;
}

.Pergunta6 img {
    width: 20%;
    height: 20%;
    margin-left: 100px;
    margin-top: 20px;
}

.Pergunta7 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    margin: 50px;
}

.Pergunta7 img {
    width: 50%;
    height: 20%;
    margin-top: 20px;
}


.Pergunta8 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    margin: 50px;
}

.Pergunta8 input[type="text"] {
    width: 35%;
    height: 50px;
    border-radius: 10px;
}

.Pergunta9 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    margin: 50px;
}

.Pergunta9 input[type="text"] {
    width: 35%;
    height: 50px;
    border-radius: 10px;
}

.Pergunta4 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    margin: 50px;
}

.Pergunta4 img {
    width: 50%;
    height: 20%;
    margin-top: 20px;
}

.BtnPerguntas {
    width: 100%;
    height: 100px;
    border: 3px solid;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
    background-color: #4189e0;
    border-radius: 10px;
}

details {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--azul-claro);
    border-radius: 5px;
}

.MostraRespostaCorreta {
    display: flex;
    justify-content: center;
    background-color: forestgreen;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}

.MostraRespostaCorreta p {
    font-size: 20px;
    padding: 5px;
    margin: 0;
    color: #ffffff;
}

.MostraRespostaErrada {
    display: flex;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}

.MostraRespostaErrada p {
    font-size: 20px;
    padding: 5px;
    margin: 0;
    color: #ffffff;
}

summary {
    font-weight: 500;
    list-style: none;
    font-size: 20px;
}

.ListaResultado ul {
    padding: 0;
    display: flex;
    justify-content: center;
}

.ListaResultado li {
    list-style: none;
    font-weight: 800;
}