@page
@model IndexModel
@{
    ViewData["Title"] = "Página inicial";
}

<div class="Saudacoes">
    <h1>Bem-vindo(a)</h1>
    <p>Que legal que você decidiu ver o meu projeto! 
        Esse projeto é um quiz com perguntas sobre linguagens e lógica de programação.
    </p>
</div>

<div class="Principal">
    <img src="~/img/imagemintro.png" />
</div>
