@page
@model Quiz.Pages.QuestoesModel
@{
	ViewData["Title"] = "Quiz";
}

<div class="Perguntas">
		<form method="post" asp-page-handler="ResponderPerguntas">
			<div class="Pergunta1">
				<h2>HTML é uma linguagem de programação?</h2>
				<br>
				<label class="form-check-label" for="radioSim">
				<input type="radio" asp-for="RespostaPergunta1" value="true"> Sim
				</label>

				<label class="form-check-label" for="radioNao">
				<input type="radio" asp-for="RespostaPergunta1" value="false"> Não
				</label>
			</div>

			<div class="Pergunta2">
				<h2>CSS é uma linguagem de estilização de páginas WEB?</h2>
				<br>
				<label class="form-check-label" for="radioSim">
				<input type="radio" asp-for="RespostaPergunta2" value="true"> Sim
				</label>

				<label class="form-check-label" for="radioNao">
				<input type="radio" asp-for="RespostaPergunta2" value="false"> Não
				</label>
			</div>

			<div class="Pergunta3">
				<h2>Qual linguagem de programação utilizamos para estruturar banco de dados relacionais?</h2>
				<br>
				<label class="form-check-label" for="radioSim">
					<input type="radio" asp-for="RespostaPergunta3" value="C#"> C#
				</label>

				<label class="form-check-label" for="radioNao">
					<input type="radio" asp-for="RespostaPergunta3" value="Java"> Java
				</label>

				<label class="form-check-label" for="radioSim">
					<input type="radio" asp-for="RespostaPergunta3" value="SQL"> SQL
				</label>

				<label class="form-check-label" for="radioNao">
					<input type="radio" asp-for="RespostaPergunta3" value="Ruby"> Ruby
				</label>

				<label class="form-check-label" for="radioNao">
					<input type="radio" asp-for="RespostaPergunta3" value="GitHub"> GitHub
				</label>
			</div>

			<div class="Pergunta4">
				<h2>Em qual ano o .NET foi criado?</h2>
				<input type="date" asp-for="RespostaPergunta4">
			</div>

			<div class="Pergunta5">
				<h2>Em SQL (Strucutre Query Language) qual comando utilizamos para realizar uma consulta?</h2>
				<input type="text" asp-for="RespostaPergunta5" placeholder="Digite aqui..."/>
			</div>
		<button type="submit" class="BtnPerguntas">Responder</button>
		</form>	
</div>


@{
	<p>Quantidade de acertos: @Model.QtdAcertos</p>
}